<a href="https://colab.research.google.com/github/kleeresearch/training/blob/main/cssa_s2_geospatial_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#UD CSSA Training Session 2: Geospatial Analysis 
----

Date: 11/10/2022 

Instructor: Kyungmin Lee 

**Step 1. Load and explore data**
  - geodataframe from World Bank 
  - pandas dataframe using World Bank's API

**Step 2. Data manipulation**
  - Note difference of joining data: geodataframe to pandas, geodataframe to geodataframe 

**Step 3. Data visualization**
  - Plotting map and see difference of joining data functions: outer and inner  
  - Plotting multiple maps

**Bonus. Focus on continents**
  - Subset by continents

## Step 1: Load and Explore Data

We will use [WB API]("https://pandas-datareader.readthedocs.io/en/latest/readers/world-bank.html") to load world map and CO2 intensity data.

In [ ]:
# -- install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 3.2 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 43.1 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 44.8 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
from pandas_datareader import wb
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt

In [ ]:
# -- Set default function for loading datasets
pd.set_option("display.max_columns", 10)
pd.set_option("display.max_rows", 300)
pd.set_option("display.width", 1000)

## Load geodataframe

Note: you can also find the [world map]("https://datacatalog.worldbank.org/search/dataset/0038272") from the WB opendata platform.

In [ ]:
# -- Load geodataframe
map = gp.read_file(gp.datasets.get_path('naturalearth_lowres')
map.head()

In [ ]:
# -- Check geodataframe whether it can be used as a base map

In [ ]:
# Data manipulation 

# Exclude Antartica to see continents more apparent in map 


# Set index as name


# Change column name (2nd way to rename columns)

In [ ]:
# -- Check type of the dataset

In [ ]:
# -- Plot  the map

In [ ]:
# -- Plot the population

We can find data of population, GDP, and map polygons. But what if I want to plot that is not included in the geodataframe? This is why we need "spatial join" function to merge datasets. Let's load data we want to plot. I will load CO2 intensity data from World Bank (WB) opendata platform using its own Application Programming Interface (API).

## Load pandas dataframe using WB API

Note: you can also find the [CO2 intensity data]("https://data.worldbank.org/indicator/EN.ATM.CO2E.EG.ZS") from WB opendata platform website

In [ ]:
# -- Load raw dataset I want to see (e.g. CO2 intensity) 
data = wb.download(indicator="EN.ATM.CO2E.EG.ZS", country="all", start=1950,end=2019)
data

                                  EN.ATM.CO2E.EG.ZS
country                     year
Africa Eastern and Southern 2019                NaN
                            2018                NaN
                            2017                NaN
                            2016                NaN
                            2015                NaN
...                                             ...
Zimbabwe                    1964                NaN
                            1963                NaN
                            1962                NaN
                            1961                NaN
                            1960                NaN

[15960 rows x 1 columns]

In [ ]:
# -- Data manipulation 

# -- Reset index as country

# -- Rename columns - Be careful to rename it without space

In [ ]:
# -- Calculate mean of the data by country

In [ ]:
# -- Check type of the dataset

pandas.core.frame.DataFrame

We can find out the types of data sets are different. Map dataset is based on geodataframe and CO2 intensity data is based on pandas dataframe. In this case, we need to use function of "data_join".

#### FYI, note for spatial join

In an attribute join, a GeoSeries or GeoDataFrame is combined with a regular pandas.Series or pandas.DataFrame based on a common variable.
https://geopandas.org/en/stable/docs/user_guide/mergingdata.html

* **data_join = geodataframe.join(pandas.dataframe)** 


* **data_spatial join = gpd.sjoin(geodataframe, geodataframe)** 

(e.g.) join = gpd.sjoin(addresses, pop, how="inner", op="within")

https://automating-gis-processes.github.io/CSC18/lessons/L4/spatial-join.html


* **GeoDataFrame.sjoin(): joins based on binary predicates (intersects, contains, etc.)**

* **GeoDataFrame.sjoin_nearest(): joins based on proximity, with the ability to set a maximum search radius.**

## Step 2: Spatial join datasets

Let's spatial join two datasets (map and CO2 intensity data). There are two representative options of spatial join: outer and inner. Codes below are to check how map looks different depending on how dataframes are joined.

[Spatial join options desctiprion]("https://geopandas.org/en/stable/gallery/spatial_joins.html")

**Option 1. how='outer'** 
- join as right column 
- preserve continents data 
- but include Antartica data (Need to manipulate data or change sjoin options)

**Option 2. how='inner'**
- join intersects columns 
- lost some continents data that are not included in new pandas dataframe

In [ ]:
# -- Join by "inner" function - join interconnected columns
data_ji = 
data_ji.head()

                 pop_est      continent iso_a3  gdp_md_est                                           geometry  CO2_intensity
Fiji              920938        Oceania    FJI      8374.0  MULTIPOLYGON (((180.00000 -16.06713, 180.00000...       2.363258
Tanzania        53950935         Africa    TZA    150600.0  POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...       0.280349
Canada          35623680  North America    CAN   1674000.0  MULTIPOLYGON (((-122.84000 49.00000, -122.9742...       2.194590
United States  326625791  North America    USA  18560000.0  MULTIPOLYGON (((-122.84000 49.00000, -120.0000...       2.571982
Kazakhstan      18556698           Asia    KAZ    460700.0  POLYGON ((87.35997 49.21498, 86.59878 48.54918...       3.180570

In [ ]:
# -- Plotting "innter" functioned dataframe
data_ji.plot('pop_est', legend=True, legend_kwds={'label': "Population Level", 'orientation': "vertical"}, cmap = 'OrRd', figsize=(14,5))
plt.title("Population Level by Country", loc = "left", fontsize=15)

In [ ]:
# -- Join by "outer" function
data_jo = 
data_jo.head()

In [ ]:
# -- Plotting "outer" functioned dataframe
data_jo.plot('pop_est', legend=True, legend_kwds={'label': "Population Level", 'orientation': "vertical"}, cmap = 'OrRd', figsize=(14,5))
plt.title("Population Level by Country", loc = "left", fontsize=15)

Do you find difference of 'inner' and 'outer'?  What is that? Note that the function of spatial join dataframes are important during data manuipulation stage. We will use "outer" function to prevent missing some continental data.

#Step3. Data visualization

Note that it is hard to see difference by countries. This is why need data visualization stage. Let's do a simple example of using quantiles and plotting multiple datas in one frame.

In [ ]:
# -- Plotting

Let's use quantile to view map more clearly

In [ ]:
# -- Install for quantile function

In [ ]:
# -- Plotting

In [ ]:
# -- Plotting multiple datasets at the same time